<div style="background-color: #F6F8FA; height: 100%;">
  <div fxlayout="row" style="width:100%; background-color:white;margin-bottom: 20px;">
    <img class="jpg-icon" src="../../../../assets/images/logo.png" style="width:auto; height:50px;">
  </div>
  <div fxLayout="row" fxLayoutAlign="">
    <div fxlayout="column" style="width:20%; height:100%; margin-left: 20px;">
      <mat-card>
        <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly center">
          <img class="jpg-icon" src="{{data[0].image}}" style="width:auto; height:250px;">
          <span style=" font-size:16px;font-weight: bold; ">{{data[0].title}}</span>
          <span style=" font-size:12px; color:gray ">{{data[0].subtitle}}</span>
        </mat-card-content>
        <mat-card-content>
          <div *ngFor="let tag of data[0].tags" style="display: inline-block; font-size:12px;  border-radius: 5px; margin:5px; border: 1px solid lightgray; padding: 5px; ">{{tag}}</div>
        </mat-card-content>
        <mat-card-content>
          <div style="vertical-align: center">
            <mat-icon>home_outline</mat-icon> <span style="vertical-align: super"> OVERVIEW</span></div>
          <div>
            <mat-icon color="primary">bar_chart</mat-icon> <span style="vertical-align: super; font-weight: bold;"> SALES</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxlayout="column" style="margin-left:20px; width: 75%">
      <mat-card>
        <mat-card-title>Retail Sales</mat-card-title>
        <mat-card-content>
          <canvas baseChart width="400" height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors" [chartType]="lineChartType"></canvas>
        </mat-card-content>
      </mat-card>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="margin-top:20px;width: 100%">

        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="WEEK ENDING">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> WEEK ENDING</th>
          <td mat-cell *matCellDef="let element"> {{element.weekEnding}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="RETAIL SALES">
          <th mat-header-cell *matHeaderCellDef> RETAIL SALES </th>
          <td mat-cell *matCellDef="let element"> {{element.retailSales}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="WHOLESALE SALES">
          <th mat-header-cell *matHeaderCellDef> WHOLESALE SALES </th>
          <td mat-cell *matCellDef="let element"> {{element.wholesaleSales}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="UNITS SOLD">
          <th mat-header-cell *matHeaderCellDef> UNITS SOLD </th>
          <td mat-cell *matCellDef="let element"> {{element.unitsSold}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="RETAILER MARGIN">
          <th mat-header-cell *matHeaderCellDef> RETAILER MARGIN </th>
          <td mat-cell *matCellDef="let element"> {{element.retailerMargin}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
  </div>

</div>